<h3>Salut confirmer votre email</h3>

<p>
    S'il vous plait veillez cliquer sur ce lien pour confirmer votre inscription: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    merci!
</p>
