{% extends 'base.html.twig' %}

{% block title %}Edit TypeExamen{% endblock %}

{% block body %}
    <h1>Edit TypeExamen</h1>

    {{ include('type_examen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_examen_index') }}">back to list</a>

    {{ include('type_examen/_delete_form.html.twig') }}
{% endblock %}
