{% extends 'base.html.twig' %}

{% block title %}New TypeExamen{% endblock %}

{% block body %}
    <h1>Create new TypeExamen</h1>

    {{ include('type_examen/_form.html.twig') }}

    <a href="{{ path('type_examen_index') }}">back to list</a>
{% endblock %}
