{% extends 'base.html.twig' %}

{% block title %}Edit TypeConsultation{% endblock %}

{% block body %}
    <h1>Edit TypeConsultation</h1>

    {{ include('type_consultation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_consultation_index') }}">back to list</a>

    {{ include('type_consultation/_delete_form.html.twig') }}
{% endblock %}
