{% extends 'base.html.twig' %}

{% block title %}Mes patients{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="row">
                <div class="col-md-6">

                      {% for user in users %}
                    {% if user.image %}
                        <img src="{{user.patient.image }}" alt="" max-width : 75px high="10%" width="60" >
                    {% else %}
                        <img src="avatar.jpg" alt="" max-width : 75px high="10%" width="60" >
                    {% endif %}
                      <tr>
                          <td>{{ user.nom }}</td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="3">no records found</td>
                      </tr>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}